<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 Backend</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul id="navList">
            <li><a href="/">Start | sparade kurser</a></li>
            <li><a href="/new">Lägg till kurs</a></li>
            <li><a href="/about">Om sidan</a></li>
        </ul>
    </nav>

    <main>
        <h1>Om sidan</h1>
        <article id="about"> 
            <p>På denna sida så kan man via ett formulär lägga till kurser och se sina sparade kurser.
                Sidan är skapad med express, ejs och SQLite</p>

            <p>Det har varit skoj att testa något helt nytt. Det var svårt att komma in i, men 
                föreläsningar och Teori och Läsanvisningar har varit till stor hjälp och stöd.
                Det blir också mer tydligt hur man kan använda databaser i webbutveckling, och hur man kan 
                skydda sin data från skadliga inmatningar. 
            </p>

            <p>
                Det krångligaste har varit att få till "<% %>" i EJS. Ofta så berodde fel pga att jag 
                glömt stänga någn måsvinge eller parentes.  
            </p>
        </article>
    </main>

    <footer>
        <p>Stina Persson (stpe1901)</p>
        <p>Backendbaserad webbutveckling Mittuniversitetet VT24</p>
    </footer>
</body>
</html>