<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 Backend</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul id="navList">
            <li><a href="/">Start | sparade kurser</a></li>
            <li><a href="/new">Lägg till kurs</a></li>
            <li><a href="/about">Om sidan</a></li>
        </ul>
    </nav>
    
    <main>
        <h1>här ska om sidan vara</h1>
    </main>

    <footer>
        <p>Stina Persson (stpe1901)</p>
        <p>Backendbaserad webbutveckling Mittuniversitetet VT24</p>
    </footer>
</body>
</html>