<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 Backend</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul id="navList">
            <li><a href="/">Start | sparade kurser</a></li>
            <li><a href="/new">Lägg till kurs</a></li>
            <li><a href="/about">Om sidan</a></li>
        </ul>
    </nav>
    <main>
        <h1>Lägg till ny kurs</h1>

        <form method="post">
            <% if (err != "") { %>
                <p id="error"><%= err %></p>
                <% } %>

            <label for="courseName">Kursnamn</label><br>
            <input type="text" id="courseName" name="courseName">
            <br>
            <br>
            <label for="courseCode">Kurskod</label><br>
            <input type="text" id="courseCode" name="courseCode">
            <br>
            <br>
            <label for="syllabus">Kursplan</label><br>
            <input type="text" id="syllabus" name="syllabus">
            <br>
            <br>
            <label for="progression">Progression</label><br>
            <select type="radio" id="progression" name="progression">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <br>
            <br>
            <button type="submit" id="submitBtn">Lägg till kurs</button>
        </form>
    </main> 

    <footer>
        <p>Stina Persson (stpe1901)</p>
        <p>Backendbaserad webbutveckling Mittuniversitetet VT24</p>
    </footer>
</body>
</html>