body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(255, 254, 244);
}

main {
    max-width:800px; 
    margin: 0 auto; 
    padding:2%; 
    background-color: rgba(0, 119, 255, 0.5);
} 

/*Formulär*/
label {
    font-weight: bold; 
}

#courseName, #courseCode, #syllabus {
    width:80%; 
    padding:1em; 
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
} 

#progression {
    width:10%; 
    padding:0.5em; 
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#submitBtn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold; 
    padding:1%; 
    border-radius:5px; 
    border: 3px;
    color: #ffff;
    background-color:rgb(0, 72, 155); 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    cursor: pointer;
} 

/*För felmeddelande*/
#error {
    color:rgb(255, 0, 0); 
    background-color: rgb(255, 238, 0);
    padding:1%; 
    width:50%; 
    font-weight: bolder; 
}

/*Nav style*/
nav{
    background-color: rgb(0, 104, 223);
}

#navList {
    list-style-type: none;
    padding:1%;  
} 

#navList li {
    display: inline;
    color:#ffff; 
} 

a {
    text-decoration:none; 
    color:#ffff; 
    padding: 2%; 
    font-weight: bold;
    font-size: 1.5em;
}

li:hover {
    background-color:rgba(0, 72, 155, 0.678);
    padding:1%;  
}

/*footer style*/
footer {
    text-align: center;
    background-color: rgba(0, 119, 255, 0.5);
    margin-left:0;
    margin-right: 0;   
    padding:1em; 
    margin-top:235px; 
}

