body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:blanchedalmond;
}

main {
    max-width:800px; 
    margin: 0 auto; 
    padding:2%; 
    background-color: aliceblue;
}